# Git
.git
.gitignore

# Dependencies
node_modules

# Temporary / execution artifacts
tmp/

# Docker
Dockerfile
.dockerignore

# CI
.github/

# Test artifacts
test/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
